*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid palevioletred; */
    font-family: 'Raleway', sans-serif;
}
/* nav */
.container.nav_home{
    width: 100%;
    height: 600px;
    background-image: url(images/las-vegas-residential-house-1.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .responsive_icon{
    display: none;
}

nav .logo img{
    width: 250px;
    color: #ffff;
}
.nav_content span{
    color: #ffff;
    font-size: 12px;
    font-weight: bolder;
    margin-left:25px
}

/* text_section */

.txt{
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    line-height: 20px;
}
.txt p{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #303030;
}
 .box{
    width: 25px;
    height: 2px;
    margin: 0px auto;
    margin-top: 10px;
    background-color: black;
}

/* card */
.card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.card_1{
    width: 100%;
    height: 250px;
    background-image: url(images/Photo-Jun-15-2-13-10-PM-600x600.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    
}
.card_2{
    width: 100%;
    height: 250px;
    background-image: url(images/Photo-Jun-01-2-18-07-PM-600x600.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}
.card_3{
    width: 100%;
    height: 250px;
    background-image: url(images/Photo-Dec-16-3-04-13-PM-600x600.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}
.card_4{
    width: 100%;
    height: 250px;
    background-image: url(images/Photo-Jun-09-3-57-03-PM-e1498111318486-800x600.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}
.card_1:hover{
    filter: grayscale(0%);
    transition:  all .3s ease-in;
}
.card_2:hover{
    filter: grayscale(0%);
    transition:  all .3s ease-in;
}
.card_3:hover{
    filter: grayscale(0%);
    transition:  all .3s ease-in;
}
.card_4:hover{
    filter: grayscale(0%);
    transition:  all .3s ease-in-out;
    
}

/* about */
.about_txt{
    text-align: center;
    padding: 50px 0px;
    background-color: whitesmoke;
    
}
.about_txt p{
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    
}
.responsive_about_txt{
    display: none;
    padding: 50px 0px;
    background-color: whitesmoke;
    text-align: center;
}
 
/* mobile */

.mobile{
    width: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: center;
}
.mob_img{
    /* width: 50%; */
    margin: 40px;
    display: flex;
    justify-content: right; 
    
}

.mobile_txt{
    width: 60%;
    margin: 30px;
}

.mobile_txt .mob_nav{
    margin-bottom: 25px;
}

.mobile_txt .mob_nav span{
    font-size: 12px;
    color:#303030;
    font-weight: lighter;
    margin-right: 15px;
    cursor: pointer;
    
}
.mobile_txt .mob_nav span:hover{
    color:black;
    font-weight: bolder;
}
.mobile_txt img{
    display: none;
}
.mobile_txt h2{
    font-size: 20px;
    font-weight: bold;
    padding-left: 40px;
}
.mobil .mobile_txt .sm_box_1{
    width: 25px;
    height: 2px;
    background-color: black;
}

.mobile_txt p{
    
    margin: 40px;
    font-size: 12px;
    color:#303030;
}

.mobile_txt h4{
    margin: 40px;
    font-weight: bolder;
}

 .btn{
    margin-left: 40px;
}
 .btn button{
    width: 150px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 12px;
    color:black;
    font-weight: 900;

}

 .btn button:hover{
    background-color: #000;
    color: #fff;
}
   

/* project */

.project{
    text-align: center;
    margin-top: 40px;
}
.project h3{
    font-size: 22px;
    font-weight: 900;
}

.project_img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:30px 20px;
    column-gap: 20px;
    
}

.image_1{
    height: 250px;
    background-image: url(images/4141-Lei-O-Papa-Rd-Villas-of-large-005-10-untitled6-1486x1000-72dpi-800x600.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    
}
.image_2{
    height: 250px;
    background-image: url(images/Photo-Jun-15-2-13-10-PM-600x600.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    
}
.image_3{
    height: 250px;
    background-image: url(images/Photo-Jun-09-3-57-03-PM-e1498111318486-800x600.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    
}
.image_4{
    height: 250px;
    background-image: url(images/IMG_3623-800x600.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    
}

.display{
    margin:30% 20%;
    display: none;
}
.display h5{
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}
.display .img_btn button{
    width: 80px;
    height: 30px;
    color: #fff;
    font-weight: 800;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
}
.display .img_btn button:hover{
    background-color: #000;
}
.image_1:hover{
    .display{
        display: block;
    }
}
.image_2:hover{
    .display{
        display: block;
    }
}
.image_3:hover{
    .display{
        display: block;
    }
}
.image_4:hover{
    .display{
        display: block;
    }
}
.project .btn{
    margin-left: 0px;
}
/* footer */

footer{
    background-color: whitesmoke;
    /* height: 80px; */
}
.copyright{
    background-color: #303030;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}


/* responsive */
@media (max-width:768px) {

    /* nav */
    nav{
        background-color: #ffff;
        justify-content: space-evenly;
    }
    nav .responsive_icon{
        display: block;
    }
    .nav_content{
        display: none;
    }

    /* card */

    .card{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    
    /* about_text */
    .about_txt{
        display: none;
    }
    .responsive_about_txt{
        display: block;
    }

    .responsive_about_txt p{
        font-size: 16px;
        font-weight: 600;
        padding: 0px 30px;
    }

    /* mobile */

    .mob_img{
        display: none;
    }
    .mobile_txt img{
        display: block;
        padding-left: 80px;
    }

    .mobile_txt{
        width: 100%;
       padding-left: 50px;
    }
    .mobile_txt h2{
        padding-left: 0px;
    }

    .mobile_txt p{
        margin-left: 0px;
    }
    .mobile_txt h4{
        margin-left: 0px;
    } 
    .mobile_txt .btn{
        margin-left: 0px;
    }


    /* project */

    .project_img{
        /* display: grid; */
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 20px;
    }
    

}